{% extends 'base.html.twig' %}

{% block title %}Création d'un équipe{% endblock %}

{% block body %}

<div class="teamFormBackground">

    <h1>Création d'une équipe</h1>

    {% if app.user %}

        {% if app.user.nbTeams < 3 %}
        
            {{ form_start(addTeamForm) }}
            <div class="addTeamFormulaire">  
                
                <div class="addTeamPartOne">

                    <figure class="preview">
                        <img id="preview_img" class="imgProfil" src="{{ asset('img/user/team/team-default.jpg') }}" alt="Preview du logo de l'équipe à ajouter">
                    </figure>

                    {{ form_row(addTeamForm.teamLogo) }}
                    
                </div>
                
                <div class="addTeamPartTwo">
                    
                    {{ form_row(addTeamForm.teamName) }}
                    {{ form_row(addTeamForm.server) }}
                    {{ form_row(addTeamForm.description) }}

                </div>
                
                <div class="addTeamPartThree">



                </div>
                    
            </div> 
        
       

            <div class="submitAddTeamPosition">
                {{ form_row(addTeamForm.submit) }}
            </div>

            {{ form_end(addTeamForm)}}
        {% else %}

            <figure>
                <img class="imgWarning" src="{{ asset('img/godIop.png') }}" alt="Image du dieu Iop créé par Ankama">
            </figure>
            <p class="warningMessage">Vous ne pouvez pas créer d'avantage d'équipe.</p>
            
        {% endif %}


    {% else %}

        <p>Vous devez vous connecter pour pouvoir créer une équipe!</p>

    {% endif %}
    

</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/preview.js') }}"></script>
    <script src="{{ asset('js/menuBurger.js') }}"></script>
    <script src="{{ asset('js/membersCollection.js') }}"></script>
{% endblock %}