{% extends 'base.html.twig' %}

{% block title %}TournamentController{% endblock %}

{% block body %}


<div class="listBackground">

    <h1>Liste des tournois à venir</h1>

    <div class="searchBarList">
        <p>Trié par :</p>
        <p>Rechercher</p>
    </div>

    <div class="list">
        {% for tournament in tournaments %}
            {% if date(tournament.startDate) > date(now) %} 

                <div class="entity">
                    
                    <figure>
                        <img src="{{ asset('img/user/tournament/' ~ tournament.imgTournament) }}" alt="Logo du tournois" {{tournament.tournamentName}}>
                    </figure>

                    <div class="allInfoEntity">

                        <div class="infoEntity">

                            <div class="infoEntity-one">

                                <div>
                                    <h3>{{tournament.tournamentName}}</h3>

                                    <p>{{tournament.startDate | date('d-m-Y')}} au {{tournament.endDate | date('d-m-Y')}}</p>

                                </div>

                                <div class="two">
                                    <p>Serveur : {{tournament.server}}</p>
                                    <p>Organisé par : {{tournament.organisator}}</p>
                                </div>


                            </div>
        
                            <a class="plusInfo" href="{{ path('show_tournament', {'id' : tournament.id}) }}">+ d'info</a> 

                        </div>
                        
                        <div class="infoEntity-two">
                            <p>Mode de jeu : {{tournament.mode.modeName}}</p>
                            <p>Place limitée : {% if tournament.limitedInscription == true %} Oui {% else %} Non {% endif %}</p>

                            <p>Nombre de participant : 
                                {% if tournament.limitedInscription == true %} 
                                    {{tournament.Nbreserved}}/{{tournament.nbTeamLimit}} 
                                {% else %} 
                                    {{tournament.Nbreserved}} 
                                {% endif %}

                            </p>
                            
                            <p>Récompenses à la clef : {% if tournament.rewardChoice == true %} Oui {% else %} Non {% endif %}</p>
                        </div>

                    </div>

                </div>

            {% endif %}

        {% endfor %}

        <p class="noNext">Pas d'autre tournois prévue</p>

    </div>


</div>
{% endblock %}
