{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

{% if app.user %}

    <div class="wrapperMessage">

        <div class="containerMessage">

            <div class="left">

                <div class="left-top">
                    <input class="searchBar" type="text" placeholder="Search" />
                    <a class="search" href="" ></a>
                </div>


                {% for conversation in app.user.conversations %}

                    {{conversation.conversationName}}

                    {% for participation in app.user.participations %}

                    {{ participation.conversation.conversationName }}
                        
                    {% endfor %}
        

                    {# {% for message in conversation.messages %}
                    
                        {% if message.isRead == 0 %}
                            {% set bold = "fw-bold" %}
                        {% else %}
                            {% set bold = "" %}
                        {% endif %}

                        <ul class="friends-list {{bold}}">
                            <li class="friend" >
                                <figure>
                                    <img id="edit_profil_avatar_preview" src="{{ asset('img/avatar/' ~ message.user.avatar) }}" class="messageAvatar" alt="Image de profil de l'utilisateur !">
                                </figure>
                                <div class="infoMessage">
                                    <span class="pseudo">{{message.user}}</span>
                                    <span class="time">{{message.sendingDate | date("d M Y")}}</span>
                                    <span class="message-preview">{{message.message}}</span>
                                </div>
                            </li>
                        </ul>

                    {% endfor %} #}

                {% endfor %}

            </div>

            <div class="right">

                <div class="right-top"><span>To: <span class="pseudo">TO DO A FAIRE</span></span></div>
                
                
                <div class="chat scrollBar" >
                    
                    {% for conversation in app.user.conversations %}

                    {{ dump(conversation) }}
                        {# {% for message in conversation.messages %} #}
                        
                        {# <div class="conversation-start">
                            <span>{{message.sendingDate | date("l d M Y à G:i")}} </span>
                        </div>

                        <div class="message me">
                            {{message.message}},
                        </div> #}

                        {# {% endfor %} #}
                    {% endfor %}


                </div>





                <div class="write">
                    <input type="text" />
                    <a href="javascript:;" class="write-link send"></a>
                </div>

            </div>

        </div>

    </div>

{% else %}

    <p>Veuillez vous conneter pour accèder à cette page</p>

{% endif %}
    

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/chatBox.js') }}"></script>
<script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}
