{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}


    <div class="forum-background main-forum">

        <div class="previous-links">
            <a class="previous-link" href="{{ path('app_home') }}">Accueil</a>
        </div>

        <div class="forum-title">
            <figure>
                <img src="{{ asset('img/bubble.png')}}" >
            </figure>

            <div class="forum-title-name">
                <h1>Forum Wakfu Tournament</h1>

                {% if is_granted ("ROLE_ADMIN")%}
                    <a href="{{ path('new_SubCategory') }}">Créer une nouvelle sous-catégorie</a>
                {% endif %}

            </div>
        </div>

        <div class="forum-subject<">

            {% for category in categories %}

                <table class="table-forum">
                    
                   
                    <thead class="accordion">
                        <tr>
                            <th class="principal-subject">{{category.categoryName}}</th>
                            <th class="secondary-subject">Derniers Topics</th>
                            <th class="tertiary-subject">Sujets</th>
                        </tr>
                    </thead>
                    
        
                    <div class="panel">
                        
                        <tbody>
     
                                {% for subCategory in category.subCategories %}
                                    <tr>
                                        <td class="principal-subject"><a class="topic-name" href="{{ path('subCategory', {'id' : subCategory.id}) }}">{{subCategory.subCategoryName}}</a></td>

                                        <td class="secondary-subject short-list-topic">
                                           {# ! question sur la limitation de 3 #}
                                            {% for limitedTopic in limitedTopics %}

                                                {% if limitedTopic.subCategory.id == subCategory.id  %}
                                                    
                                                    <a class="topic-name" href="">{{limitedTopic.topicName}}</a>

                                                {% endif %}
                                        
                                            {% endfor %}
                                            
                                        </td>

                                        <td class="tertiary-subject-accordeon">{{subCategory.topics|length}}</td>
                                    
                                    </tr>
                                            
                                {% endfor %}
        
                        </tbody>
                        
                    </div>

                </table>

            {% endfor %}

        </div>
        

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/accordeon.js') }}"></script>
    <script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}
