{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}


    <div class="forum-background">

        <div class="previous-links">
            <a href="{{ path('app_home') }}">Accueil</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="{{ path('app_forum') }}">Forum</a>
        </div>

        <div class="forum-title">
            <figure>
                <img src="{{ asset('img/bubble.png')}}" >
            </figure>

            <div class="forum-title-name">
            <h1>{{subCategory.subCategoryName}}</h1>

            {% if subCategory.statut == false %}

                {% if is_granted ("ROLE_ADMIN") %}

                    <a href="{{ path('newTopic', {'id' : subCategory.id}) }}">Créer un nouveau sujet</a>
                    
                {% endif %}

            {% else %}
             
                <a href="{{ path('newTopic', {'id' : subCategory.id}) }}">Créer un nouveau sujet</a>
                
            {% endif %}


            </div>
        </div>


        <div class="forum-subject">

            <table class="table-forum">
                
                <thead>
                    <tr>
                        <th class="principal-subject">Toutes les discussions</th>
                        <th class="secondary-subject">Dernière activé</th>
                        <th class="tertiary-subject">Réponses</th>
                        
                    </tr>
    
                </thead>
    
                <tbody>

                    {% if subCategory.topics is empty %}
                        <tr>
                            <td class="noTopic">Pas de topic sur le sujet pour le moment ! </td> 
                        </tr>
                    {% else %}

                        {% for topic in subCategory.topics %}
                            <tr>
                                <td class="principal-subject">

                                    {% if topic.user == null %}

                                        <figure>
                                            <img class="avatar-subCategory" src="{{ asset('img/user/avatar/profil-default.jpg') }}" >
                                        </figure>
                                        <div>
                                            <a class="topic-name" href="{{ path('topic', {'id' : topic.id}) }}">{{topic.topicName}}</a>
                                            
                                            <p>Par Profil Supprimé le {{topic.creationDate | date('d-m-Y')}} à {{topic.creationDate | date('h:i:s')}}</p>
                                        </div>

                                    {% else %}
                                        
                                        <figure>
                                            <img class="avatar-subCategory" src="{{ asset('img/user/avatar/' ~ topic.user.avatar) }}" >
                                        </figure>
                                        <div>
                                            <a class="topic-name" href="{{ path('topic', {'id' : topic.id}) }}">{{topic.topicName}}</a>
                                            
                                            <p>Par <a class="topic-user-creator" href="{{path('profil_user', {'id' : topic.user.id})}}">{{topic.user.pseudonyme}}</a> le {{topic.creationDate | date('d-m-Y')}} à {{topic.creationDate | date('h:i:s')}}</p>
                                        </div>
                                    {% endif %}

                                </td>

                                <td class="secondary-subject"></td>
                                <td class="tertiary-subject">{{topic.posts|length}}</td>
                            </tr>
                                    
                        {% endfor %}

                    {% endif %}

                </tbody>

            </table>

           

        </div>
        

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/accordeon.js') }}"></script>
    <script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}