{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}


    <div class="forum-background">

        <div class="previous-links">
            <a href="{{ path('app_home') }}">Accueil</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="{{ path('app_forum') }}">Forum</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="{{ path('subCategory', {'id' : topic.subCategory.id}) }}">{{topic.subCategory.subCategoryName}}</a>
        </div>

        <div class="topic-title">

            {% if topic.user == null %}

                <figure>
                    <img class="avatar-topic" src="{{ asset('img/user/avatar/profil-default.jpg') }}" >
                </figure>
                
                <div class="topic-title-name">
                    <h1>{{topic.topicName}}</h1>
                    <span>Par Profil Supprimé le {{topic.creationDate | date('d-m-Y')}} à {{topic.creationDate | date('h:i:s')}}</span>
                </div>
                
            {% else %}

                <figure>
                    <img class="avatar-topic" src="{{ asset('img/user/avatar/' ~ topic.user.avatar) }}" >
                </figure>
                
                <div class="topic-title-name">
                    <h1>{{topic.topicName}}</h1>
                    <span>Par <a href="{{path('profil_user', {'id' : topic.user.id})}}">{{topic.user.pseudonyme}}</a> le {{topic.creationDate | date('d-m-Y')}} à {{topic.creationDate | date('h:i:s')}}</span>
                </div>

            {% endif %}
         
        </div>

        <div class="forum-subject">

            <p class="content-topic">{{topic.content}}</p>
            <div class="answer-button-place">
                <a href="#answer">Répondre</a>
            </div>

        </div>      

    </div>

    <div class="forum-commentary-background">

        <div class="answer-title">
            <h1>Réactions</h1>
        </div>

        {% for post in topic.posts %}
            <div class="commentary-section">

                {% if post.user == null %}
        
                    <figure>
                        <img class="avatar-topic" src="{{ asset('img/user/avatar/profil-default.jpg') }}" >
                    </figure>
                    
                    <div class="commentary">
                        <h3 class="commentary-user">Profil Supprimé <small>le {{post.creationDate | date('d-m-Y')}} à {{post.creationDate | date('h:i:s')}}</small></h3>
                        <p>{{post.content}}</p>

                    </div>

                {% else %}
                    
                    <figure>
                        <img class="avatar-topic" src="{{ asset('img/user/avatar/' ~ post.user.avatar) }}" >
                    </figure>
                    

                    <div class="commentary">
                        <h3 class="commentary-user"><a href="{{path('profil_user', {'id' : post.user.id})}}">{{post.user.pseudonyme}}</a> <small>le {{post.creationDate | date('d-m-Y')}} à {{post.creationDate | date('h:i:s')}}</small></h3>
                        <p>{{post.content}}</p>

                    </div>

                {% endif %}
                
                    
            </div>
        {% endfor %}

    </div>


    <div class="forum-answer-background">

        <div class="answer-title">
            <h1>Réagir à ce sujet</h1>
        </div>

        <div class="answer-section" id="answer">

            {% if app.user %}
                
                <figure>
                    <img class="avatar-topic" src="{{ asset('img/user/avatar/' ~ app.user.avatar) }}" >
                </figure>
                
                <div class="formulaire-post">
                    <h3 class="commentary-user">{{app.user.pseudonyme}}</h3>
                    {{ form_start(newPostForm) }}
                    
                    {{ form_row(newPostForm.content)}}
                    <div class="submit-post">{{ form_row(newPostForm.submit) }}</div> 
                    
                    {{ form_end(newPostForm)}}
                </div>

            {% else %}

                <p class="warningMessage">Veuillez vous connectez afin de pouvoir réagir à ce topic</p>
            
            {% endif %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/accordeon.js') }}"></script>
    <script src="{{ asset('js/menuBurger.js') }}"></script>
{% endblock %}